.navbar {
    background: #1f1f1f;
    padding: 2rem;
}
.container {
    max-width: 1170px;
    margin: auto;
}
.navbar__nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.nav__brand a {
    font-size: 3rem;
    color: #f4f4f4;
    text-decoration: none;   
}

.nav__brand a:hover {
    color: #3c948b;
    cursor: pointer;
}

.nav__links {
    display: flex;
    align-items: center;
    list-style: none;
}

.links__link a{
    text-decoration: none;
    font-size: 2rem;
    color: #f4f4f4;
    margin-left: 3.5rem;
}

.links__link a:hover {
    color: #3c948b;
    border-bottom: 1px solid #3c948b;
    cursor: pointer;
}